body {
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

.bodyLogin {
	font-family: "Poppins", sans-serif;
	background: #d1f3f3;
}

h1 {
	text-align: center;
	font-weight: 300;
}

.login {
	text-align: center;
	text-transform: uppercase;
}

.login_card {
	width: 90%;
	background: white;
	margin: 20px auto;
	padding: 40px 30px;
	border-radius: 5px;
	box-shadow: 5px 5px 20px;
}

.register_card {
	width: 100%;
	background: white;
	margin: 20px auto;
	padding: 40px 30px;
	border-radius: 5px;
	box-shadow: 5px 5px 20px;
}

label {
	font-size: 11pt;
}

.form_login {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 10px;
}

.buttonLogin {
	background: #4685de;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.buttonRegister {
	background: #4685de;
	color: white;
	font-size: 11pt;
	width: 80%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link {
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

#LoginHeader {
	margin-top: 30px;
	font-size: 50pt;
	font-weight: bold;
}

.grid {
	display: grid;
}
.grid-left {
	grid-column-start: 1;
	grid-column-end: 2;
}
.grid-right {
	grid-column-start: 2;
	grid-column-end: 3;
}

.foto {
	width: 1080px;
	height: 720px;
	box-shadow: 0 0 0 0;
	border-radius: 5x;
}

footer {
	background-color: #e9ecef;
	align-self: end;
	grid-column: 2;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 56px;
	line-height: 55px;
}
